**Operators Revisited**



*   Arithmetic Operators
*   Comparison (Relational) Operators
*   Logical Operators
*   Membership Operators
*   Identity Operators

In [ ]:
11/3

3.6666666666666665

In [ ]:
c=11/3
d=15/9
print("Result up to 2 decimal Places %8.2f  %5.3f %5d" %(c,d, c) )

Result up to 2 decimal Places     3.67  1.667     3

In [ ]:
print ("11/3= %6f  %6.4f" %(11/3,11/3))

11/3= 3.666667  3.6667

**The Placeholders**

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

In [ ]:
txt = "The price is {:.2f} dollars."
print(txt.format(45))



txt = "The price is {:f} dollars."
print(txt.format(45))

In [ ]:
11//3

3

In [ ]:
-11/3

-3.6666666666666665

In [ ]:
-11//3

-4

In [ ]:
11//-3

-4

In [ ]:
-11//-3

3

In [ ]:
11.5//3

3.0

In [ ]:
15.5//3.5

4.0

**Comparison (Relational) Operators**

In [ ]:
x = 10
y = 12

In [ ]:
print(x,y)

10 12

In [ ]:
print('x > y is',x>y)

x > y is False

In [ ]:
print('x < y is',x<y)

x < y is True

In [ ]:
print('x == y is',x==y)

x == y is False

In [ ]:
print('x != y is',x!=y)

x != y is True

In [ ]:
print('x >= y is',x>=y)

x >= y is False

In [ ]:
print('x <= y is',x<=y)

x <= y is True

**Logical Operators**

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

**Identity operators**

In [ ]:
x1 = 5
y1 = 5
x2 = 'Hello'
y2 = 'Hello'
x3 = [1,2,3]
y3 = [1,2,3]


print(x1 is not y1)


print(x2 is y2)


print(x3 == y3)

False
True
True

Here, we see that x1 and y1 are integers of the same values, so they are equal as well as identical. Same is the case with x2 and y2 (strings). x3 and y3 are lists. They are equal but not identical. It is because the interpreter locates them separately in memory although they are equal.

**Operators Precedence**


Sr.No.          	    Operator & Description
1	                      **    Exponentiation (raise to the power)

2	            - unary minus 

3	* / % //   Multiply, divide, modulo and floor division

4	+ -   Addition and subtraction

	
5 <= < > >=   Comparison operators

6	== != Equality operators

7 = %= /= //= -= += *= **= Assignment operators

8 is is not Identity operators

9	in not in Membership operators

10	not or and Logical operators

***Expression Examples***

In [ ]:
2**3**2

512

**Type Conversion**
The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion. Python has two types of type conversion.


*   Implicit Type Conversion
*   Explicit Type Conversion

**Implicit Type Conversion**
In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement. Python always converts smaller data types to larger data types to avoid the loss of data.

In [ ]:
num_int = 123
num_flo = 1.23

num_new = num_int + num_flo

print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123
num_str = "456"

print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

print(num_int+num_str)

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: ignored

**Explicit Type Conversion**
In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), float(), str(), etc to perform explicit type conversion.

1. int(a): This function converts any data type to integer. 
2. float(): This function is used to convert any data type to a floating-point number

In [ ]:
s = "10010"
 
# printing string converting to int
c = int(s)
print ("After converting to integer")
print (c, "Its type is ",type(c))
 
# printing string converting to float
e = float(s)
print ("After converting to float : ")
print (e, "Its type is ",type(e))

After converting to integer
10010 Its type is  <class 'int'>
After converting to float :
10010.0 Its type is  <class 'float'>

In [ ]:
# Convert ASCII value to characters
a = chr(76)
b = chr(77)
 
print(a)
print(b)

L
M

In [ ]:
17/5

3.4

In [ ]:
-17/5

-3.4

In [ ]:
17//5

3

In [ ]:
-17//5

-4

In [ ]:
a=10

In [ ]:
print(a)

10

In [ ]:
a,b,c=10,20,30

In [ ]:
print(a,b,c)

10 20 30

In [ ]:
(5>6)

False

In [ ]:
(5>4)*6

6

In [ ]:
x=10-5
y=-7

In [ ]:
x=5*3**2%3+5
print(x)

5

In [ ]:
x=5*9%3+5
print(x)

5

In [ ]:
x=45%3+5  #x=0+5

Associvity  Left to Right   Right to left