# Dictionary

Python Dictionary is used to store the data in a key-value pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. The dictionary is defined into element Keys and values.

Keys must be a single element
Value can be any type such as list, tuple, integer, etc.

In Python, a Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds a pair of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

# Create and print a dictionary

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}

In [1]:
Dict = {"Name": "Tom", "Age": 22,"salary":50000}

In [39]:
p={}
p["Name"]=input("Enter Name :")
p["Age"]=input("Enter Age :")

Enter Name :Ramesh
Enter Age :45

In [40]:
print(p)

{'Name': 'Ramesh', 'Age': '45'}

In [2]:
type(Dict)

dict

In [3]:
print(Dict)

{'Name': 'Tom', 'Age': 22, 'salary': 50000}

In [6]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [5]:
print(Employee)

{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

# Accessing the dictionary values

A value is retrieved from a dictionary by specifying its corresponding key in square brackets

In [7]:
print(Employee["Name"])

John

In [7]:
print(Employee["Company"],Employee["salary"])

GOOGLE 25000

In [8]:
print(Employee["salary"])

25000

Duplicates Not Allowed
The same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. The value can be of any data type. One value can be assigned to more than one key.

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Ford",
  "model": "ABC",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'ABC', 'year': 2020}

List as Dictionary Value

In [11]:
d = {"Fruit":["Mango","Banana"], "Color":["Blue", "Red"]}

In [12]:
print(d)

{'Fruit': ['Mango', 'Banana'], 'Color': ['Blue', 'Red']}

In [13]:
print(d["Fruit"])

['Mango', 'Banana']

In [17]:
print(d["Color"])

['Blue', 'Red']

A dictionary can also be created using the dict() constructor method.

In [14]:
Employee = dict(name="John", Age=29, salary=25000,Company="GOOGLE")

In [15]:
print(Employee)

{'name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

In [22]:
numdict = dict(I='one', II='two', III='three')
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

# Building a Dictionary Incrementally

In [16]:
d={"Name":"Suresh"}

In [17]:
print(d)

{'Name': 'Suresh'}

In [18]:
d["fname"]="Gopal"

In [19]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal'}

In [20]:
d["City"]="Rajpura"

In [21]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal', 'City': 'Rajpura'}

In [22]:
d["City"]="Mohali"

In [26]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal', 'City': 'Mohali'}

In [27]:
del d["City"]

In [28]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal'}

In [29]:
d.clear()

In [30]:
print(d)

{}

In [24]:
person = {}

person['fname'] = 'Ramesh'
person['lname'] = 'Kumar'
person['age'] = 51
person['spouse'] = 'Sunita'
person['children'] = ['Vivek', 'Mohan', 'Gopal']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [25]:
print(person)

{'fname': 'Ramesh', 'lname': 'Kumar', 'age': 51, 'spouse': 'Sunita', 'children': ['Vivek', 'Mohan', 'Gopal'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

# Updating Dictionary

You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry

In [43]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

Delete Dictionary Elements

In [44]:

del dict['Name']; # remove entry with key 'Name'
#dict.clear();     # remove all entries in dict
#del dict ;        # delete entire dictionary
print(dict)

{'Age': 8, 'Class': 'First', 'School': 'DPS School'}

# Iterating Dictionary

In [31]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [32]:
print(Employee.keys())

dict_keys(['Name', 'Age', 'salary', 'Company'])

In [33]:
print(Employee.values())

dict_values(['John', 29, 25000, 'GOOGLE'])

In [34]:
print(Employee.items())

dict_items([('Name', 'John'), ('Age', 29), ('salary', 25000), ('Company', 'GOOGLE')])

In [35]:
# for loop to print all the keys of a dictionary
for x in Employee:    
    print(x)

Name
Age
salary
Company

In [36]:
#for loop to print all the values of the dictionary
for x in Employee:    
    print(Employee[x])

John
29
25000
GOOGLE

In [47]:
#for loop to print the values of the dictionary by using values() method.
for x in Employee.values():    
    print(x)

John
29
25000
GOOGLE

In [48]:
#for loop to print the items of the dictionary by using items() method.
for x in Employee.items():    
    print(x)

('Name', 'John')
('Age', 29)
('salary', 25000)
('Company', 'GOOGLE')

In [37]:
#for loop to print the items of the dictionary by using items() method.
for (x,y) in Employee.items():    
    print(x,y)

Name John
Age 29
salary 25000
Company GOOGLE