# Dictionary

Python Dictionary is used to store the data in a key-value pair format. The dictionary is the data type in Python, which can simulate the real-life data arrangement where some specific value exists for some particular key. The dictionary is defined into element Keys and values.

Keys must be a single element
Value can be any type such as list, tuple, integer, etc.

In Python, a Dictionary can be created by placing a sequence of elements within curly {} braces, separated by ‘comma’. Dictionary holds a pair of values, one being the Key and the other corresponding pair element being its Key:value. Values in a dictionary can be of any data type and can be duplicated, whereas keys can’t be repeated and must be immutable.

# Create and print a dictionary

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:

d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}

In [1]:
Dict = {"Name": "Tom", "Age": 22,"salary":50000}

In [39]:
p={}
p["Name"]=input("Enter Name :")
p["Age"]=input("Enter Age :")

Enter Name :Ramesh
Enter Age :45

In [40]:
print(p)

{'Name': 'Ramesh', 'Age': '45'}

In [2]:
type(Dict)

dict

In [3]:
print(Dict)

{'Name': 'Tom', 'Age': 22, 'salary': 50000}

In [6]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [5]:
print(Employee)

{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

# Accessing the dictionary values

A value is retrieved from a dictionary by specifying its corresponding key in square brackets

In [7]:
print(Employee["Name"])

John

In [7]:
print(Employee["Company"],Employee["salary"])

GOOGLE 25000

In [8]:
print(Employee["salary"])

25000

Duplicates Not Allowed
The same key cannot appear more than once in a collection. If the key appears more than once, only the last will be retained. The value can be of any data type. One value can be assigned to more than one key.

In [9]:
thisdict = {
  "brand": "Ford",
  "model": "Ford",
  "model": "ABC",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'ABC', 'year': 2020}

List as Dictionary Value

In [11]:
d = {"Fruit":["Mango","Banana"], "Color":["Blue", "Red"]}

In [12]:
print(d)

{'Fruit': ['Mango', 'Banana'], 'Color': ['Blue', 'Red']}

In [13]:
print(d["Fruit"])

['Mango', 'Banana']

In [17]:
print(d["Color"])

['Blue', 'Red']

A dictionary can also be created using the dict() constructor method.

In [14]:
Employee = dict(name="John", Age=29, salary=25000,Company="GOOGLE")

In [15]:
print(Employee)

{'name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

In [22]:
numdict = dict(I='one', II='two', III='three')
print(numdict)

{'I': 'one', 'II': 'two', 'III': 'three'}

# Building a Dictionary Incrementally

In [16]:
d={"Name":"Suresh"}

In [17]:
print(d)

{'Name': 'Suresh'}

In [18]:
d["fname"]="Gopal"

In [19]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal'}

In [20]:
d["City"]="Rajpura"

In [21]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal', 'City': 'Rajpura'}

In [22]:
d["City"]="Mohali"

In [26]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal', 'City': 'Mohali'}

In [27]:
del d["City"]

In [28]:
print(d)

{'Name': 'Suresh', 'fname': 'Gopal'}

In [29]:
d.clear()

In [30]:
print(d)

{}

In [24]:
person = {}

person['fname'] = 'Ramesh'
person['lname'] = 'Kumar'
person['age'] = 51
person['spouse'] = 'Sunita'
person['children'] = ['Vivek', 'Mohan', 'Gopal']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [25]:
print(person)

{'fname': 'Ramesh', 'lname': 'Kumar', 'age': 51, 'spouse': 'Sunita', 'children': ['Vivek', 'Mohan', 'Gopal'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

# Updating Dictionary

You can update a dictionary by adding a new entry or a key-value pair, modifying an existing entry, or deleting an existing entry

In [43]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

Delete Dictionary Elements

In [44]:

del dict['Name']; # remove entry with key 'Name'
#dict.clear();     # remove all entries in dict
#del dict ;        # delete entire dictionary
print(dict)

{'Age': 8, 'Class': 'First', 'School': 'DPS School'}

# Iterating Dictionary

In [31]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [32]:
print(Employee.keys())

dict_keys(['Name', 'Age', 'salary', 'Company'])

In [33]:
print(Employee.values())

dict_values(['John', 29, 25000, 'GOOGLE'])

In [34]:
print(Employee.items())

dict_items([('Name', 'John'), ('Age', 29), ('salary', 25000), ('Company', 'GOOGLE')])

In [35]:
# for loop to print all the keys of a dictionary
for x in Employee:    
    print(x)

Name
Age
salary
Company

In [36]:
#for loop to print all the values of the dictionary
for x in Employee:    
    print(Employee[x])

John
29
25000
GOOGLE

In [47]:
#for loop to print the values of the dictionary by using values() method.
for x in Employee.values():    
    print(x)

John
29
25000
GOOGLE

In [48]:
#for loop to print the items of the dictionary by using items() method.
for x in Employee.items():    
    print(x)

('Name', 'John')
('Age', 29)
('salary', 25000)
('Company', 'GOOGLE')

In [37]:
#for loop to print the items of the dictionary by using items() method.
for (x,y) in Employee.items():    
    print(x,y)

Name John
Age 29
salary 25000
Company GOOGLE

# Built-in Dictionary methods

clear()	Removes all items from the dictionary.
copy()	Returns a shallow copy of the dictionary.
fromkeys(seq[, v])	Returns a new dictionary with keys from seq and value equal to v (defaults to None).
get(key[,d])	Returns the value of the key. If the key does not exist, returns d (defaults to None).
items()	Return a new object of the dictionary's items in (key, value) format.
keys()	Returns a new object of the dictionary's keys.
pop(key[,d])	Removes the item with the key and returns its value or d if key is not found. If d is not provided and the key is not found, it raises KeyError.
popitem()	Removes and returns an arbitrary item (key, value). Raises KeyError if the dictionary is empty.
update([other])	Updates the dictionary with the key/value pairs from other, overwriting existing keys.
values()	Returns a new object of the dictionary's values
sorted()  sort the dictioary

In [3]:
d={"a":34,"d":45, "b":23,"c":11}
print(d.values())

dict_values([34, 45, 23, 11])

In [27]:
dt={"a":34,"d":45, "b":23,"c":11}
p=dt.pop("d")
print(dt)
print(p)

{'a': 34, 'b': 23, 'c': 11}
45

In [26]:
dt={"a":34,"d":45, "b":23,"c":11}
del dt["d"]
print(dt)

{'a': 34, 'b': 23, 'c': 11}

In [29]:
dt={"a":34,"d":45, "b":23,"c":11}
p=dt.popitem()
print(dt)
print(p)

{'a': 34, 'd': 45, 'b': 23}
('c', 11)

In [32]:
stu=["name","Roll","Group"]
d=dict.fromkeys(stu,5)
print(d)

{'name': 5, 'Roll': 5, 'Group': 5}

In [16]:
d={"a":34,"d":45, "b":23,"c":11}
print(sorted(d.values(),reverse=True))

[45, 34, 23, 11]

In [4]:
e1 = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}

In [5]:
e1.clear()
print(e1)

{}

In [51]:
e2=e1.copy()

In [52]:
print(e2)

{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

Python dictionary fromkeys() function returns the dictionary with key mapped and specific value.

In [10]:
e1 = ["Name", "Age", "salary","Company"]
d=dict.fromkeys(e1,"do not know")

In [11]:
print(d)

{'Name': 'do not know', 'Age': 'do not know', 'salary': 'do not know', 'Company': 'do not know'}

In [61]:
d=dict.fromkeys(e1,5)

In [62]:
print(d)

{'Company': 5, 'salary': 5, 'Age': 5, 'Name': 5}

In [18]:
#The get() method returns the value for the specified key if the key is in the dictionary.


marks = {'Physics':67, 'Maths':87}

print(marks.get('Maths',0))

87

In [15]:

marks = {'Physics':67, 'Maths':87}

print(marks['Hindi'])

KeyError: 'Hindi'

In [19]:
person = {'name': 'Phill', 'age': 22}

print('Name: ', person.get('name'))
print('Age: ', person.get('age'))

# value is not provided
print('Salary: ', person.get('salary'))


# value is provided
print('Salary: ', person.get('salary', 0.0))

Name:  Phill
Age:  22
Salary:  None
Salary:  0.0

In [21]:
#The pop() method removes and returns an element from a dictionary having the given key.
marks = { 'Physics': 67, 'Chemistry': 72, 'Math': 89 }

element = marks.pop('hindi',0)

print('Popped Marks:', element)
print(marks)

Popped Marks: 0
{'Physics': 67, 'Chemistry': 72, 'Math': 89}

In [22]:
#The Python popitem() method removes and returns the last element (key, value) pair inserted into the dictionary.
person = {'name': 'Phill', 'age': 22, 'salary': 3500.0}

result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

# inserting a new element pair
person['profession'] = 'Plumber'

result = person.popitem()

print('Return Value = ', result)
print('person = ', person)

Return Value =  ('salary', 3500.0)
person =  {'name': 'Phill', 'age': 22}
Return Value =  ('profession', 'Plumber')
person =  {'name': 'Phill', 'age': 22}

In [23]:
#The update() method updates the dictionary with the elements from another dictionary object or from an iterable of key/value pairs.
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48, 'Maths':99}

marks.update(internal_marks)


print(marks)

{'Physics': 67, 'Maths': 99, 'Practical': 48}

# Examples

Rename key city to location in the following dictionary

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

In [1]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
x=sampleDict.pop('city')
sampleDict['location'] = x
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [42]:
d={"a":10,"b":20, "c":50, "d":50, "e":50, "f":50, "g":50}
print(sum(d.values()))

280

Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [33]:
#["1":1,"2":4,"3":9-------]



n=int(input("Input a number "))
d = {}

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Write a Python program to sum all the items in a dictionary.

In [3]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

Remove Duplicate students
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
}

In [34]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subjects': ['english, math, science']
   },
}

In [37]:
print(student_data.items())

dict_items([('id1', {'name': ['Sara'], 'class': ['V'], 'subjects': ['english, math, science']}), ('id2', {'name': ['David'], 'class': ['V'], 'subjects': ['english, math, science']}), ('id3', {'name': ['Sara'], 'class': ['V'], 'subjects': ['english, math, science']}), ('id4', {'name': ['Surya'], 'class': ['V'], 'subjects': ['english, math, science']})])

In [39]:
d={"a":10,"b":20,"c":10,"d":40}
r={}

for k,v in d.items():
    if v not in r.values():
        r[k]=v
print(r)

dict_items([('a', 10), ('b', 20), ('c', 10), ('d', 40)])
{'a': 10, 'b': 20, 'd': 40}

In [6]:
result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subjects': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subjects': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subjects': ['english, math, science']}}