Print the following pattern for the given number of rows.
1111
000
11
0

In [43]:
n=int(input("No of rows"))
for i in range(0,n):
    for j in range(0,n-i):
        if(i%2==0):
            print("1", end="")
        else:
            print("0", end="")
    print()

No of rows6
111111
00000
1111
000
11
0

Print the following pattern for the given number of rows.
1010
010
10
0

In [17]:
n=int(input("No of rows"))
for i in range(0,n):
    for j in range(0,n-i):
        if((i+j)%2==0):
            print("1", end="")
        else:
            print("0", end="")
    print()

No of rows4
1010
010
10
0

Print the following pattern for the given number of rows.
123456
 23456
  3456
   456
    56
     6

In [47]:
n=int(input("No of rows"))
for i in range(1,n+1):
    for j in range(0,i):
            print(" ", end="")
            
    for j in range(i,n+1):
            print(j, end="")
    print()

No of rows6
 123456
  23456
   3456
    456
     56
      6

#

In [31]:
n=int(input("No of rows"))
for i in range(n,0,-1):
    for j in range(0,i):
            print(" ", end="")
            
    for j in range(i,n+1):
            print(j, end="")
    print()

No of rows6
      6
     56
    456
   3456
  23456
 123456

In [32]:
n=int(input("No of rows"))
for i in range(1,n+1):
    for j in range(0,i):
            print(" ", end="")
            
    for j in range(i,n+1):
            print(j, end="")
    print()
for i in range(n,0,-1):
    for j in range(0,i):
            print(" ", end="")
            
    for j in range(i,n+1):
            print(j, end="")
    print()

No of rows6
 123456
  23456
   3456
    456
     56
      6
      6
     56
    456
   3456
  23456
 123456

    *
   **
  ***
 ****
*****

In [50]:
n=int(input("No of rows"))
for r in range(1,n+1):
    for s in range(0,n-r):
        print(" ", end="")
        
    for a in range(0,r):
        print("*", end="")
        
    print()

No of rows5
    *
   **
  ***
 ****
*****

    *
   ***
  *****
 *******
*********

In [51]:
n=int(input("No of rows"))
for r in range(1,n+1):
    for s in range(0,n-r):
        print(" ", end="")
        
    for a in range(0,r):
        print("*", end="")

    for a in range(0,r-1):
        print("*", end="")
        
    print()

No of rows8
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************

Homework

Diamond of Stars
  *
 ***    
*****
 ***
  *

In [53]:
print(list(range(0,10,3)))

[0, 3, 6, 9]