# Set

# Python Collections


There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered and unindexed. No duplicate members.
Dictionary is a collection which is ordered* and changeable. No duplicate members.

Sets are written with curly brackets.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [3]:
type(thisset)

set

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [4]:
#Duplicate values will be ignored:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [7]:
type(thisset)

set

The set() Constructor
It is also possible to use the set() constructor to make a set.

In [5]:
a=[1,2,3,4,1,2]
s=set(a)
print(s)

{1, 2, 3, 4}

In [6]:
print(s)

{1, 2, 3, 4}

In [7]:
#You cannot access items in a set by referring to an index
print(s[0])

TypeError: 'set' object is not subscriptable

Access Items

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

# Set Methods

In [ ]:


add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others

Change Items
Once a set is created, you cannot change its items, but you can add/remove new items.

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [9]:
thisset.add("orange")

In [10]:
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

Add Sets
To add items from another set into the current set, use the update() method.

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya","apple"}

thisset.update(tropical)

print(thisset)
print(tropical)

{'apple', 'mango', 'banana', 'papaya', 'pineapple', 'cherry'}
{'apple', 'mango', 'papaya', 'pineapple'}

Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

Remove Item
To remove an item in a set, use the remove(), or the discard() method.

In [14]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

banana
{'apple', 'cherry'}

In [18]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [16]:
#del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

Join Two Sets
There are several ways to join two or more sets in Python.

You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

In [19]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set1)
print(set2)
print(set3)

{'b', 'c', 'a'}
{1, 2, 3}
{1, 'b', 2, 'c', 'a', 3}

In [23]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)
print(set2)

{1, 2, 'a', 'b', 3, 'c'}
{1, 2, 3}

Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

The intersection() method will return a new set, that only contains the items that are present in both sets.

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
print(x)
print(y)
print(z)

{'cherry', 'apple', 'banana'}
{'apple', 'google', 'microsoft'}
{'apple'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

Keep All, But NOT the Duplicates
The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [27]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'cherry', 'google', 'banana'}

# Operators for Sets

key in s	containment check
key not in s	non-containment check
s1 == s2	s1 is equivalent to s2
s1 != s2	s1 is not equivalent to s2
s1 <= s2	s1 is subset of s2
s1 < s2	s1 is proper subset of s2
s1 >= s2	s1 is superset of s2
s1 > s2	s1 is proper superset of s2
s1 | s2	the union of s1 and s2
s1 & s2	the intersection of s1 and s2
s1 – s2	the set of elements in s1 but not s2
s1 ˆ s2	the set of elements in precisely one of s1 or s2

In [21]:
# Creating two sets
set1 = set()
set2 = set()
  
# Adding elements to set1
for i in range(1, 6):
    set1.add(i)
  
# Adding elements to set2
for i in range(3, 8):
    set2.add(i)
  
print("Set1 = ", set1)
print("Set2 = ", set2)
print("\n")
  
# Union of set1 and set2
set3 = set1 | set2# set1.union(set2)
print("Union of Set1 & Set2: Set3 = ", set3)
  
# Intersection of set1 and set2
set4 = set1 & set2# set1.intersection(set2)
print("Intersection of Set1 & Set2: Set4 = ", set4)
print("\n")
  
# Checking relation between set3 and set4
if set3 > set4: # set3.issuperset(set4)
    print("Set3 is superset of Set4")
elif set3 < set4: # set3.issubset(set4)
    print("Set3 is subset of Set4")
else : # set3 == set4
    print("Set3 is same as Set4")
  
# displaying relation between set4 and set3
if set4 < set3: # set4.issubset(set3)
    print("Set4 is subset of Set3")
    print("\n")
  
# difference between set3 and set4
set5 = set3 - set4
print("Elements in Set3 and not in Set4: Set5 = ", set5)
print("\n")
  
# checkv if set4 and set5 are disjoint sets
if set4.isdisjoint(set5):
    print("Set4 and Set5 have nothing in common\n")
  
# Removing all the values of set5
set5.clear()
  
print("After applying clear on sets Set5: ")
print("Set5 = ", set5)

Set1 =  {1, 2, 3, 4, 5}
Set2 =  {3, 4, 5, 6, 7}


Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5}


Set3 is superset of Set4
Set4 is subset of Set3


Elements in Set3 and not in Set4: Set5 =  {1, 2, 6, 7}


Set4 and Set5 have nothing in common

After applying clear on sets Set5:
Set5 =  set()

# Built-in Functions with Set

all()	Returns True if all elements of the set are true (or if the set is empty).
any()	Returns True if any element of the set is true. If the set is empty, returns False.
enumerate()	Returns an enumerate object. It contains the index and value for all the items of the set as a pair.
len()	Returns the length (the number of items) in the set.
max()	Returns the largest item in the set.
min()	Returns the smallest item in the set.
sorted()	Returns a new sorted list from elements in the set(does not sort the set itself).
sum()	Returns the sum of all elements in the set.

In [32]:
s={1,2,3,False}
print(all(s))

False

In [33]:
s={1,2,3,0}
print(all(s))

False

In [34]:
s={1,2,3}
print(all(s))

True

In [35]:
s={1,2,3}
print(min(s))

1

In [37]:
s={1,2,3}
print(max(s))

3

In [40]:
s={1,2,3}
print(set(enumerate(s)))

{(0, 1), (1, 2), (2, 3)}

In [41]:
s={1,2,3}
print(sum(s))

6

In [42]:
s={1,2,3,7,4}
print(sorted(s))

[1, 2, 3, 4, 7]

In [22]:
s={1,2,{2,3,4}}

TypeError: unhashable type: 'set'

In [24]:
a={1,2,3}
b={5,6,7,3}
print(a.isdisjoint(b))

False