# Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Creating strings is as simple as assigning a value to a variable.

In [1]:
var1 = 'Hello World!'
var2 = "Python Programming"

In [2]:
print(var1)
print(var2)

Hello World!
Python Programming

*Multiline Strings*

You can assign a multiline string to a variable by using three quotes:

In [10]:
a = """Chitkara University is in Punjab state
It is good place for study
I love this place"""
print(a)

Chitkara University is in Punjab state
It is good place for study
I love this place

# Note

Strings are immutable. This means that elements of a string cannot be changed once they have been assigned.

In [19]:
my_string = 'Chitkara'
my_string[2] = 'a'

TypeError: 'str' object does not support item assignment

*Accessing Values in Strings*

Python does not support a character type; these are treated as strings of length one, thus also considered a substring.

To access substrings, use the square brackets for slicing along with the index or indices to obtain your substring.

In [21]:
var="CHITKARA UNIVERSITY"

In [4]:
print(var[3])

T

In [22]:
print(var[6])

R

In [23]:
print(var[-3])

I

In [24]:
print(var[1:5])

HITK

In [25]:
print(var[:5])

CHITK

In [26]:
print(var[5:])

ARA UNIVERSITY

In [27]:
print(var[:])

CHITKARA UNIVERSITY

In [28]:
print(var[::-1])

YTISREVINU ARAKTIHC

In [8]:
print(var[:5])

CHITK

In [9]:
print(var[5:])

ARA UNIVERSITY

*Escape Characters*


\\	Backslash
\'	Single quote
\"	Double quote
\a	Bell
\b	Backspace
\f	Formfeed
\n	Linefeed
\r	Carriage Return
\t	Horizontal Tab
\v	Vertical Tab

In [29]:
x="fdsf\nrf"

In [30]:
print(x)

fdsf
rf

In [31]:
x="fdsf\newlineff"

In [32]:
print(x)

fdsf
ewlineff

In [35]:
# My address is a\n 32 Lucknow
print("My address is a\\n 32 Lucknow")

My address is a\n 32 Lucknow

In [37]:
#I live in "Ram Nagar"
print("I live in \"Ram Nagar\"")

I live in "Ram Nagar"

In [19]:
x="fdsf\"newl\"ineff"

In [20]:
print(x)

fdsf"newl"ineff

In [38]:
print("fsdfds\tfsdfdsf")

fsdfds	fsdfdsf

Built-in String Methods
Python includes the following built-in methods to manipulate strings âˆ’


1	capitalize()
Capitalizes first letter of string

2	center(width, fillchar)
Returns a space-padded string with the original string centered to a total of width columns.

3	count(str, beg= 0,end=len(string))
Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

4	endswith(suffix, beg=0, end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) ends with suffix; returns true if so and false otherwise.

5	find(str, beg=0 end=len(string))
Determine if str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

6	index(str, beg=0, end=len(string))
Same as find(), but raises an exception if str not found.

7	isalnum()
Returns true if string has at least 1 character and all characters are alphanumeric and false otherwise.

8	isalpha()
Returns true if string has at least 1 character and all characters are alphabetic and false otherwise.

9	isdigit()
Returns true if string contains only digits and false otherwise.

10	islower()
Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

11	isnumeric()
Returns true if a unicode string contains only numeric characters and false otherwise.

12	isspace()
Returns true if string contains only whitespace characters and false otherwise.

13	istitle()
Returns true if string is properly "titlecased" and false otherwise.

14	isupper()
Returns true if string has at least one cased character and all cased characters are in uppercase and false otherwise.

15	join(seq)
Merges (concatenates) the string representations of elements in sequence seq into a string, with separator string.

16	len(string)
Returns the length of the string

17	ljust(width[, fillchar])
Returns a space-padded string with the original string left-justified to a total of width columns.

18	lower()
Converts all uppercase letters in string to lowercase.


19	max(str)
Returns the max alphabetical character from the string str.

20	min(str)
Returns the min alphabetical character from the string str.

21	replace(old, new [, max])
Replaces all occurrences of old in string with new or at most max occurrences if max given.


22	rjust(width,[, fillchar])
Returns a space-padded string with the original string right-justified to a total of width columns.

13	rstrip()
Removes all trailing whitespace of string.

31	split(str="", num=string.count(str))
Splits string according to delimiter str (space if not provided) and returns list of substrings; split into at most num substrings if given.

24	splitlines( num=string.count('\n'))
Splits string at all (or num) NEWLINEs and returns a list of each line with NEWLINEs removed.

25	startswith(str, beg=0,end=len(string))
Determines if string or a substring of string (if starting index beg and ending index end are given) starts with substring str; returns true if so and false otherwise.


26	swapcase()
Inverts case for all letters in string.

27	title()
Returns "titlecased" version of string, that is, all words begin with uppercase and the rest are lowercase.


28	upper()
Converts lowercase letters in string to uppercase.

29	zfill (width)
Returns original string leftpadded with zeros to a total of width characters; intended for numbers, zfill() retains any sign given (less one zero).

30	isdecimal()
Returns true if a unicode string contains only decimal characters and false otherwise.

In [10]:
x="chitkara university"
print(x.title())

Chitkara University

In [39]:
x="fafa"
print(x.capitalize())

Fafa

In [14]:
x="abc"
print(x.rjust(20,"*"))

*****************abc

In [40]:
x="chitkara"
x.center(30,'%')

'%%%%%%%%%%%chitkara%%%%%%%%%%%'

In [41]:
y="elephant"
z=y.count("e")
print(z)

2

In [55]:
y="elepeeehaneeeet"
z=y.count("e", 1,9)
print(z)

4

In [44]:
print(y.endswith("anxczct"))

False

In [14]:
z="Mohan is good boy"
print(z.find("good"))

9

In [45]:
x="chitkara"
print(min(x))

a

In [46]:
x="chitkara"
print(max(x))

t

In [47]:
print(x.upper())

CHITKARA

In [48]:
print(x.title())

Chitkara

*Python String split() Method*

In [ ]:
x="chitkara"
print(min(x))

split() method in Python split a string into a list of strings after breaking the given string by the specified separator.

In [49]:
txt = "welcome to the chitkara university"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'chitkara', 'university']

In [50]:
txt = "hello, my name is Raj, I am 40 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Raj', 'I am 40 years old']

In [51]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

Count Vovels, Consonent, digits and Special Characters in a String

In [52]:
str=input("Input String :")
v,c,d,sp=0,0,0,0
for ch in str:
    if (ch>="a" and ch<="z") or (ch>="A" and ch<="Z"):
        if ch in "aeiouAEIOU":
            v=v+1
        else:
            c=c+1
    elif (ch>="0" and ch<="9"):
        d=d+1
    else:
        sp=sp+1

print("Vovels=",v)
print("Consonents=",c)
print("digits=",d)
print("special Characters=",sp)

Input String :dasdsa fafafa a AEESDFD3321 1113#!@!DA
Vovels= 10
Consonents= 12
digits= 8
special Characters= 8

Python program to print even length words in a string

In [53]:
    str=input("Input String :")
    s=str.split()
    for word in s: 
          
        if len(word)%2==0:
            print(word)

Input String :mY NAME IS sURESH YOU ARE GOOD ONE
mY
NAME
IS
sURESH
GOOD

The rstrip() method removes any trailing characters (characters at the end a string), space is the default trailing character to remove.

The strip() method removes any leading (spaces at the beginning) and trailing (spaces at the end) characters (space is the default leading character to remove)

The lstrip() method returns a copy of the string with leading characters removed (based on the string argument passed).

In [1]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [2]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [4]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [5]:
txt = "&&&&&&&&&&banana&&&&&"

x = txt.strip("&")

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [6]:
txt = "ppppppbananappp"

x = txt.strip("p")

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

Abbrivation of string

In [1]:
    stng=input("Input String :")
    oupt = stng[0]
      
    # iterate over string
    for i in range(1, len(stng)):
        if stng[i] == ' ':
            
            # add letter next to space
            oupt += stng[i+1]
              
    # uppercase oupt
    oupt = oupt.upper()
    print(oupt)

Input String :all india radio
AIR

Second Approach

In [2]:
stng=input("Input String :")
oupt = ""
lw=stng.split()
for word in lw :
        # get first letter of each word
    oupt += word[0]
          
    # uppercase oupt
    oupt = oupt.upper()
print(oupt)

Input String :chitkar university punjab
CUP

Print the initials of a name with last name in full

In [4]:
    s=input("Input String :")
    l = s.split()
    new = ""
  
    # traverse in the list 
    for i in range(len(l)-1):
        s = l[i]
          
        # adds the capital first character 
        new += (s[0].upper()+'.')
          
    new += l[-1].title()
    print(new)

Input String :hardanhalli dodegoda dev gowda
H.D.D.Gowda

Write a Python program to get a string made of the first 2 and the last 2 chars from a given a string.

Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
Sample String : 'restart'
Expected Result : 'resta$t'

In [9]:
str=input("Input String :")
c=str[0]
nstr=c+str[1:].replace(c,"$")
print(nstr)

Input String :restart
resta$t

Write a Python program to change a given string to a new string where the first and last chars have been exchanged.

In [6]:
str=input("Input String :")
f=str[0]
l=str[-1]
nstr=l+str[1:len(str)-1]+f
print(nstr)

Input String :university
yniversitu

Write a Python program to remove the characters which have odd index values of a given string.

In [8]:
str=input("Input String :")
nstr=""
for i in range(0,len(str),2):
    nstr=nstr+str[i]
print(nstr)

Input String :sadasssads
sdssd

In [7]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [56]:
a=[1,2,3,4,5,6]
sum=0I am 
for x in a:
    sum+=x
print(sum)

21

Write a program which takes a string as input and prints the longest word of that

In [9]:
str=input("Input String :")
words=str.split()
l=0
for w in words:
    if(len(w)>l):
        l=len(w)
        lw=w
print(lw)

Input String :I am Good Boy
Good

Write a Python program to count the occurrences of each word in a given sentence.

In [27]:
str=input("Input String :")
c_words=[]
c=[]
words=str.split()
for w in words:
    if w not in c_words:
        c_words.append(w)
        c.append(words.count(w))
      
for i in range(0,len(c_words)):
              print(c_words[i],c[i])

Input String :the sun is shining in the sky
the 2
sun 1
is 1
shining 1
in 1
sky 1

In [15]:
x=["aa","aa","fsf","aa"]
print(x.count("aa"))

3