# Tuple

A tuple is a collection of objects which ordered and immutable. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

Example

In [38]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"

In [39]:
del tup3

The empty tuple is written as two parentheses containing nothing −

The empty tuple is written as two parentheses containing nothing −

In [3]:
tup1 = ();

# Updating Tuples

Tuples are immutable which means you cannot update or change the values of tuple elements. You are able to take portions of existing tuples to create new tuples

In [4]:
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3=tup1+tup2
print(tup3)

(12, 34.56, 'abc', 'xyz')

In [7]:
tup1 = (12, 34.56)
tup2=tup1*4
print(tup2)

(12, 34.56, 12, 34.56, 12, 34.56, 12, 34.56)

In [9]:
print(tup2[3])
tup2[3]=12.34

34.56

TypeError: 'tuple' object does not support item assignment

# Nesting of Tuples

In [11]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('chitkara', 'university')
tuple3 = (tuple1, tuple2,3,"sfds")
print(tuple3)

((0, 1, 2, 3), ('chitkara', 'university'), 3, 'sfds')

# Repetition in Tuples

In [7]:
tuple3 = ('python',)*3
print(tuple3)

('python', 'python', 'python')

# Immutable Tuples

In [8]:
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

# Slicing in Tuples

In [17]:
tuple1 = (0 ,1, 2, 3,4,5,6,7,8)
print(tuple1[2:5])
tuple1[::-1]
tuple1[-1]
print(tuple1[3:])
print(tuple1[:5])

(2, 3, 4)
(3, 4, 5, 6, 7, 8)
(0, 1, 2, 3, 4)

# Deleting a Tuple

In [18]:
tuple3 = ( 0, 1)
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

# Converting list/set to a Tuple by tuple()

In [22]:
list1 = [0, 1, 2]
s={1,2,3,3,3,4}
t1=tuple(list1)
t2=tuple(s)
print(type(list1))
print(type(t1))
print(type(t2))

<class 'list'>
<class 'tuple'>
<class 'tuple'>

In [24]:
t1=(1,2,2,3,4,3,2,1,5,6,5,7,4,3,1)
t2=tuple(set(t1))
print(t2)

(1, 2, 3, 4, 5, 6, 7)

# Built in tuple functions

1	len(tuple) Gives the total length of the tuple.
2	max(tuple) Returns item from the tuple with max value.
3	min(tuple) Returns item from the tuple with min value.
4	tuple(seq) Converts a list into tuple.
5.  sum()	Returns addition of all elements in list/tuple
6.  sorted()	sorts the elements in list/tuple

In [21]:
t=(1,2,3)
print(len(t))

3

In [25]:
L1=[10,30,50,20,40]
T1=(10,50,30,40,20)
print (len(L1))
print (len(T1))
print ('max of L1', max(L1))
print ('max of T1', max(T1))
print ('min of L1', min(L1))
print ('min of T1', min(T1))
print ('sum of L1', sum(L1))
print ('sum of T1', sum(T1))
print ('L1 in sorted order', sorted(L1))
print ('T1 in sorted order', sorted(T1))

5
5
max of L1 50
max of T1 50
min of L1 10
min of T1 10
sum of L1 150
sum of T1 150
L1 in sorted order [10, 20, 30, 40, 50]
T1 in sorted order [10, 20, 30, 40, 50]

A comparison operator in Python can work with tuples. The comparison starts with a first element of each tuple.

In [25]:
a=(5,6)
b=(1,4,500)
if (a>b):
    print("a is bigger")
else: 
    print("b is bigger")

a is bigger

In [26]:
a=(5,6)
b=(5,4)
if (a>b):print("a is bigger")
else: print ("b is bigger")

a is bigger

In [27]:
a=(5,6)
b=(6,4)
if (a>b):print("a is bigger")
else: print("b is bigger")

b is bigger

# Packing and Unpacking a Tuple

n Python, there is a very powerful tuple assignment feature that assigns the right-hand side of values into the left-hand side. In another way, it is called unpacking of a tuple of values into a variable. In packing, we put values into a new tuple while in unpacking we extract those values into a single variable.

In [26]:
# this lines PACKS values into variable a
a = ("Chitkara University",10000, "Engineering") 
 
# this lines UNPACKS values of variable a
(college, student, type_ofcollege) = a 
 
# print college name
print(college)
 
# print no of student
print(student)
 
# print type of college
print(type_ofcollege)

Chitkara University
10000
Engineering

In [29]:
student=("Ramesh","I year", "G16", 2119876)
(name,year,group,roll)=student

print(name,roll)

Ramesh 2119876

NOTE : In unpacking of tuple number of variables on left-hand side should be equal to number of values in given tuple a.
Python uses a special syntax to pass optional arguments (*args) for tuple unpacking. This means that there can be many number of arguments in place of (*args) in python. All values will be assigned to every variable on the left-hand side and all remaining values will be assigned to *args .

In [31]:
# first and last will be assigned to x and z remaining will be assigned to y
x, *y, z = (10, "Chitkara "," University ", "Punjab ",  50)
 
# print details
print(x)
print(y)
print(z)

10
['Chitkara ', ' University ', 'Punjab ']
50

In [32]:
x, *y = (10, "Chitkara "," University ", "Punjab ",  50)
 
# print details
print(x)
print(y)

10
['Chitkara ', ' University ', 'Punjab ', 50]

In [30]:
# first and second will be assigned to x and y remaining will be assigned to z
x, y, *z = (10, "Chitkara ", " University ", "Punjab ", 50)
print(x)
print(y)
print(z)

10
Chitkara
[' University ', 'Punjab ', 50]

Write a Python program to compute element-wise sum of given tuples.
Original tuples:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)
Element-wise sum of the said tuples:
(6, 9, 8, 6)

In [35]:
x = (1,2,3,4)
y = (3,5,2,1)
z = (2,2,3,1)
print("Original tuples:")
print(x)
print(y)
print(z)
print("\nElement-wise sum of the said tuples:")
result = tuple(x[i]+y[i]+z[i] for i in range(0,4))
print(result)

Original tuples:
(1, 2, 3, 4)
(3, 5, 2, 1)
(2, 2, 3, 1)

Element-wise sum of the said tuples:
(6, 9, 8, 6)

Write a Python program to compute the sum of all the elements of each tuple stored inside a list of tuples.
Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]

In [33]:
def test(lst):
    result =  map(sum, lst)
    return list(result)

nums = [(1,2), (2,3), (3,4)]
print("Original list of tuples:")
print(nums)
print("\nSum of all the elements of each tuple stored inside the said list of tuples:")
print(test(nums))

Original list of tuples:
[(1, 2), (2, 3), (3, 4)]

Sum of all the elements of each tuple stored inside the said list of tuples:
[3, 5, 7]

Write a Python program to convert a given list of tuples to a list of lists.
Original list of tuples: [(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists: [[1, 2], [2, 3], [3, 4]]

In [34]:
def abc(lst_tuples):
    result = [list(el) for el in lst_tuples]
    return result
lst_tuples = [(1,2), (2,3), (3,4)]
print("Original list of tuples:")
print(lst_tuples)
print("Convert the said list of tuples to a list of lists:")
print(abc(lst_tuples))

Original list of tuples:
[(1, 2), (2, 3), (3, 4)]
Convert the said list of tuples to a list of lists:
[[1, 2], [2, 3], [3, 4]]

In [36]:
s=input()
x=int(input())
print(eval(s))

x*x*x
3
27

In [37]:
l=input()
print(l)

1,2,3,4
1,2,3,4